/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&subset=latin,cyrillic&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&subset=latin,cyrillic&display=swap');
@import "tailwindcss";

@tailwind utilities;

@layer utilities {
    /*.font-comfortaa {*/
    /*    font-family: 'Comfortaa', sans-serif;*/
    /*}*/
    .font-montserrat {
        font-family: 'Montserrat', 'sans-serif';
    }
}

.slick-prev::before,
.slick-next::before {
    color: #fb7185 !important;
}

.slick-dots {
    position: static !important;
    margin-top: 4px;
}
